.container {
  width: 900px
}
.page-header {
  height: 40px
}
.logo {
  position: absolute;
  top: 25px;
  width: 195px;
  height: 19px;
  background-image: url(../images/logo.png);
}
p.credit {
  margin-top: 12px
}
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
p.muted.credit {
  display: inline
}
/* Sticky footer styles
      -------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
  width: 900px;
}
#footer {
  height: 0;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #eee;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) { 
    #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
}
#footer > .container {
  padding-top: 16px
}